<%= render 'shared/navbar' %>
<div class="container">
  <div class="formulaire">
    <div class="arrow"><%= link_to potery_path(@poterie) do %> <i class="fas fa-arrow-left"></i><% end %></div>
  <h1>Modifier une poterie</h1>
    <%= simple_form_for @poterie do |f| %>
    <%= f.input :name, :label => "Titre" %>
    <%= f.input :description, :label => "Description" %>
    <%= f.input :date, :label => "Date de réalisation" %>
    <%= cl_image_tag @poterie.photo.key, :width => "60px", :height => "60px" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Enregistrer les modifications", class: "btn btn-ghost" %>
  <% end %>
    <%= link_to "Supprimer", potery_path(@poterie), method: :delete, data: { confirm: "Tu es sûr ?" } %>
  </div>
</div>
