<div class="container">
<h1>Modifier une poterie</h1>
  <%= simple_form_for @poterie do |f| %>
  <%= f.input :name, :label => "Titre" %>
  <%= f.input :description, :label => "Description" %>
  <%= f.input :date, :label => "Date de réalisation" %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Modifier", class: "btn btn-ghost" %>
<% end %>
</div>
